* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.authenticate-page {
	background-color: #22314a;		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding-top: 64px;
}

.screen {		
	background: linear-gradient(90deg, #bd5b43, #22314a);		
	position: relative;	
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
/* 	box-shadow: 0px 0px 24px #bd5b43; */
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 75%;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #bd5b43;	
	top: -172px;
	right: 30%;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #bd5b43, #22314a);
	top: -24px;
	right: 30%;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #22314a;	
	top: 420px;
	right: 50%;	
	border-radius: 60px;
}

.authenticate {
	width: 60vh;
	padding: 30px;
}

.authenticate__field {
	padding: 5px 0px;	
	position: relative;	
}

/* .authenticate__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
} */

.authenticate__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.authenticate__input:active,
.authenticate__input:focus,
.authenticate__input:hover {
	outline: none;
	border-bottom-color: #22314a;
}

.authenticate__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color:#22314a;
	box-shadow: 0px 2px 2px #22314a;
	cursor: pointer;
	transition: .2s;
}

.authenticate__submit:active,
.authenticate__submit:focus,
.authenticate__submit:hover {
	border-color:#22314a;
	outline: none;
}

/* .button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #22314a;
} */

/* ------------------------------------ LOGIN SPECIFIC */

#login-form {
	padding-top: 20%;
}

#call-to-signup {
	width: 30%;
	height: 100%;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: end;
}

#call-to-signup p {
	color: white;
}

#call-to-signup button {
	max-height: 5px;
	max-width: 90px;
	font-size: 0.8rem;
	margin: 20px 0;
}

/* ------------------------------------ SIGNUP SPECIFIC */

#signup-form {
	padding: 20px;
	font-size: 0.8rem;
}

#signup-role {
	display: flex;
	margin: 10px 0;
}

#radio-buttons {
	margin-left: 20px;
}

#radio-buttons > * {
	padding: 5px;
}

/* ------------------------------------ ADD CLUB SPECIFIC */

.hidden {
	display: none;
}

#create-club-toggle {
	max-width: 40vh;
	margin-bottom: 30px;
}

/* #add-club-component {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
} */

/* #add-club-component p{
	margin: 0;
	padding: 0;
	color: white;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
} */

#club-key {
	width: 100%;
	color: white;
	position: relative;
	text-align: center;
	z-index:999;
}


/* .social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
} */