#root {
    min-width: 100%;
    margin: 0;
    padding: 64px 30px 0;
    text-align: center;
    z-index: 0;
  }

  /* -------------------- */

#team-comms-logo {
  max-height: 40px;
}

#bar-box {
  z-index: 5;
}

#console-box {
  z-index: 0;
}

.calendar-box {
  padding-top: 30px;
}